/*********************************************
************* GENERAL ************************
*********************************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body {
	color: #555;
	font-family: Open Sans;
	font-size: 16px;
	position: relative;
	height: 100vh;
	font-weight: 400;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }



/*********************************************
************* TOP PART ***********************
*********************************************/


